<%- include Layout/header %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <div class="container-form">
        <form method="post" action="/articulos/alta" class="form">
            <h1 class="title-recommed">Agregar recomendación</h1>
            <div class="form-section-inputs">
                <label for="title" class="label">Nombre</label>
                <input required id="title" placeholder="Nombre del videojuego" type="text" name="title" class="input">
            </div>
            <div class="form-section-inputs">
                <label for="description" class="label">Descripcion</label>
                <textarea rows="4" cols="6" id="description" placeholder="Descripción" name="description"
                    class="input height"></textarea>
            </div>
            <div class="form-section-inputs">
                <label for="image" class="label">Agrega la URL de tu imagen</label>
                <input class="form-control" type="text" id="image" name="image">
            </div>
            <input type="submit" value="Guardar" class="btn-save">
        </form>
    </div>