<%-include Layout/header%>
    <div class="container-error-mensaje">
        <img src="images/NoEncontrado.jpg" alt="Imagen de No encontrado" width="450px">
        <p class="texto">
            <%=mensaje%>
        </p>
        <a href="/" class="btn-search-again">Buscar de nuevo</a>
    </div>