<a href="/games/alta">alta de articulos</a></p>
<a href="/games/listado">Listado completo de articulos</a></p>   
<a href="/games/consulta">Consulta de un articulo por codigo</a></p>
<a href="/games/modificacion">Modificacion de un articulo</a></p>
<a href="/games/creartabla">Creacion de una tabla 'articulos' con MySQL</a></p>