<%- include Layout/header.ejs %>
    <!-- <form method="post" action="/articulos/alta">
        Ingrese descripcion del articulo:
        <input type="descripcion" name="descripcion" size="50">
        <br>
        Ingrese el precio del articulo:
        <input type="text" name="precio" size="10">
        <br>
        <input type="submit" value="Agregar"> -->
    <!-- </form> -->
    <div class="container-form">
        <form method="post" action="/articulos/alta" class="form">
            <h1 class="title-recommed">Agregar recomendación</h1>
            <div class="form-section-inputs">
                <label for="title" class="label">Nombre</label>
                <input required id="title" placeholder="Nombre del videojuego" type="text" name="title" class="input">
            </div>
            <div class="form-section-inputs">
                <label for="title" class="label">Descripcion</label>
                <textarea rows="4" cols="6" id="title" placeholder="Descripción" name="title"
                    class="input height"></textarea>
            </div>
            <div class="form-section-inputs">
                <label for="image" class="form-label">Elige una imagen</label>
                <input class="form-control" type="file" id="image" name="image">
            </div>
            <button class="btn-save" type="submit">Guardar</button>
        </form>
    </div>